<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coffe</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
{% if user.is_authenticated %}
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <p  align="right">
            <button type="submit" class="btn btn-light">
                <b>log out</b>
            </button>
        </p>
    </form>
{% else %}
    <p style="text-align: right">
        <a href="{% url 'login' %}">
            <button type="button" class="btn btn-light">
                <b>Log in</b>
            </button>
        </a>
        <a href="{% url 'register' %}">
            <button type="button" class="btn btn-light">
                <b>Register</b>
            </button>
        </a>
    </p>
{% endif %}
{% block content %} {% endblock %}
</body>
</html>